header {
	background-color: #66ccff;
} 
h1{
	color: black;
	font-family: Verdana, Arial, sans-serif;
	text-align: center;
	font-size: 24px;
}
h2{
	color: black;
	font-family: Verdana, Arial, sans-serif;
	text-align: center;
	font-size: 18px;
}
h3{ color: black;
    font-family: Verdana, Arial, sans-serif;
	text-align: center;
	font-size: 18px;
}
h4 { color: black;
    font-family: Verdana, Arial, sans-serif;
	text-align: center;
	font-size: 18px;
}  
p {
	color: #660066;
	font-family: Verdana, Arial, sans-serif;
	text-align: center;
	font-size: 14px;
	margin-center: 20px
} 
body {
    color: black;
    font-family: Verdana, Arial, sans-serif;
    text-align: center;
    font-size: 14px;
}
}
ol {
  background: #66ccff;
  padding: 18px;
}
ul {
  background: #3399ff;
  padding: 18px;
}
ol li{
   background: #66ccff:
   padding: 6px;
}
ul li {
	background: #3399ff; 
    padding: 6px;
}
table {
	width:100%
	background: #66ccff;
	padding: 18px
	text-align: center;
	font-size: 14px
}	
footer {
	background-color: black;
	color: #660066;
    text-align: center;
    font-size: 12px;
} 
nav {
	color: #660066;
	text-align: center;
	font-size: 14px
} 
.wrapper{
	margin-left:auto;
	margin-right:auto;
} 
#album{
	background-color: #66ffff;
}
    


	
	

    
  

